body {
margin: 0;
font-family: 'Times New Roman', serif;
background: #ceccc9;
color: #5c4d3f;
}

header {
padding: 40px 20px 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.logo-placeholder {
width: 300px;
height: 300px;
background: #ddd;
border-radius: 50%;
margin-bottom: 20px;
}

h1 {
font-size: 5rem;
letter-spacing: 0.2em;
text-transform: uppercase;
text-align: center;
margin: 0;
font-family: 'Archivo Black', serif;
}

.intro {
max-width: 800px;
text-align: center;
font-size: 1.5rem;
line-height: 1.4;
margin-top: 60px;
}

.intro strong {
font-size: 2.5rem;
display: block;
margin-bottom: 20px;
}

.endline strong {
    font-size: inherit;
    display: inline;
    margin-bottom: 0;
}

.recipes {
display: flex;
justify-content: center;
gap: 130px;
margin-top: 30px;
margin-bottom: 100px;
}

.recipe {
text-align: center;
text-decoration: none;
color: #5c4d3f;
max-width: 350px;
}

.recipe-img {
width: 350px;
height: 350px;
background: #ddd;
border-radius: 20px;
margin-bottom: 10px;
}

.recipe h2 {
font-size: 1.8rem;
margin: 0;
line-height: 1.2;
}

.recipe h2 .subtitle {
display: block;
font-size: 1.2rem;
margin-top: 6px;
opacity: 0.8;
}
